<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mes mails gmail par label</title>

</head>
<body>
    <H2>Mes mails gmail par label</H2>
    <H3>Le label que je sélectionne</H3>
    <form class="form-horizontal" method="post">
        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="retrieve">Label</label>
            <div class="col-md-4">
                <input id="retrieve" name="label" type="text" placeholder="Label"
                       class="form-control input-md" required="">
            </div>
        </div>

        <div class="form-group">
                <label class="col-md-4 control-label" for="submit"></label>
                <div class="col-md-4">
                    <button id="submit" name="submit" type="submit" class="btn btn-primary">Rechercher ce label</button>
                </div>
        </div>

        <fieldset>
                <h3>Résultats de la sélection</h3>
                  {% if clear_mail %}
                    <ul class=flashes>
                    {% for mail in clear_mail %}
                      <li>{{ mail }}</li>
                    {% endfor %}
                    </ul>
                  {% endif %}
                {% block body %}{% endblock %}
        </fieldset>
    </form>
</body>
</html>